/*Font conponents*/
:host {
    font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

p {
    margin: 0;
}

.spacer {
    flex: 1;
}

/*Navbar component section*/
.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
}

.toolbar img {
    margin: 0 16px;
}

/*Content Form for signin flex and overall computed proterties(margin/boarder/padding*/
.content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
}

/*Social direct link when hover over*/
a,
a:visited,
a:hover {
    color: #1976d2;
    text-decoration: none;
}

a:hover {
    color: #125699;
}

/*USERNAME component section*/
:host {
	box-sizing: border-box ;
	display: flex ;
	flex-direction: column ;
	font-size: 18px ;
	min-height: 100vh ;
	padding: 30px 30px 30px 30px ;
}
/*part 's and item 's are both for description list and things list*/
.parts {
	display: flex;
	flex-direction: row-reverse;
	margin: auto auto auto auto;
}

.part {
	height: 4em;
	margin: 10px 10px 10px 10px ;
	overflow: hidden ;
	width: 50% ;
	text-align: left;
}

.items {
	list-style-type: none ;
	margin: 0px 0px 0px 0px ;
	padding: 0px 0px 0px 0px ;
	transition: transform 1000ms ease-in-out;
}

.item {
	font-size: 22px;
	font-weight: 530 ;
	height: 85px;
	margin: 0px 0px 0px 0px ;
	padding: 0px 0px 0px 0px ;
}
/*Action for generator username button*/
.actions {
	display: flex ;
	flex: 0 0 auto ;
	justify-content: center ;
}

.action {
	background-color: #ff3366 ;
	border-radius: 8px 8px 8px 8px ; 
	color: #ffffff ;
	cursor: pointer ;
	font-size: 20px ;
	font-weight: 400 ;
	letter-spacing: -1px;
	padding: 5px 5px 10px 5px ;

}